.layout {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin: 150px 0;
    padding: 0 100px;
    gap: 50px;
}

.title {
    min-width: 40%;
}

.title span {
    font-size: 4.5em;
    font-family: "Monument Extended";
    line-height: .8em;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.content p {
    font-size: 1.1em;
    text-align: center;
}