.layout {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin: 150px 0 100px 0;
}

.content {
    background-image: url('../../assets/event.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    position: relative;
    min-height: 300px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
}

.cta {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}


@media only screen and (max-width: 600px) {

    .cta {
        gap: 10px;
    }
}