.jumbotron {
  min-width: 100vw;
  min-height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  overflow: hidden;
}

.roller_text {
  top: 15%;
  z-index: 1;
  position: absolute;
  transition: .3s;
}

.roller_text2 {
  bottom: 15%;
  z-index: 1;
  position: absolute;
  transition: .3s;
}

.roller_text span,
.roller_text2 span {
  /* CHANGER */
  color: white;
  font-family: "Mikela", sans-serif;
  font-size: 10em;
  font-weight: 800;
}

.roller_text span:nth-child(odd),
.roller_text2 span:nth-child(even) {
  color: #eb0028;
}

.outline_mask {
  width: 100vw;
  height: 70vh;
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_mask {
  width: 100vw;
  height: 70vh;
  position: absolute;
  opacity: .8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  z-index: 5;
}

.img_mask .roller_text,
.img_mask .roller_text2 {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: transparent;
}

.img_mask .roller_text span:nth-child(odd),
.img_mask .roller_text2 span:nth-child(even) {
  -webkit-text-stroke: 1px #eb0028;
  -webkit-text-fill-color: transparent;
}

.layer_img {
  position: absolute;
  z-index: 2;
  max-height: 70vh;
}

.video {
  filter: brightness(50%);
  opacity: 0.5;
  z-index: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.jumbotron::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Ver 2 . 0";
  /* CHANGER */
  background-color: white;
  color: #181818;
  /* background-color: #181818;
    color: white; */
  width: 150px;
  height: 50px;
  bottom: 0;
  position: absolute;
  z-index: 5;
  left: 5%;
  font-size: 1em;
  transform: perspective(10px) rotateX(3deg);
}

@media only screen and (max-width: 600px) {
  .video {
    right: 0;
  }

  .layer_img {
    width: 80vw;
  }

  .roller_text span,
  .roller_text2 span {
    /* CHANGER */
    font-size: 7em;
  }

  .roller_text {
    top: 30%;
  }

  .roller_text2 {
    bottom: 30%;
  }

  .jumbotron::after {
    left: 10%;
    font-size: 1.3em;
  }
}