.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 100px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width: 100vw;
}

.content {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.content p {
    margin-top: -40px;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.speaker {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 25vw;
}

.title {
    bottom: 15%;
}

.title2 {
    top: 15%;
}

.title,
.title2 {
    opacity: .5;
    position: absolute;
    z-index: -1;

}

.title span,
.title2 span {
    color: #181818;
    font-family: "Mikela", sans-serif;
    font-size: 7em;
    text-transform: uppercase;
}

.title span:nth-child(odd),
.title2 span:nth-child(odd) {
    color: #eb0028;
}

@media only screen and (max-width: 600px) {
    .content {
        gap: 10px;
    }

    .speaker {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 40vw;
    }

    .speaker img {
        width: 100%;
    }

    .speaker p {
        font-size: 1.2em;
        line-height: 1em;
    }

    .title span,
    .title2 span {
        font-size: 4.5em;
    }
}