.layout {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin: 150px 0;
}

.video {
    width: 40vw;
    display: flex;
    justify-content: center;
    height: 100%;
}

.video iframe {
    width: 70%;
    height: 200px;
}

.content p {
    font-size: 7em;
    font-family: "Mikela";
    line-height: .8em;
}

@media only screen and (max-width: 600px) {
    .layout {
        flex-direction: column;
        gap: 50px;
    }

    .content {
        text-align: center;
        max-width: 90vw;
    }

    .video {
        width: 90vw;
    }

    .video iframe {
        width: 90%;
    }
}