.layout {
    margin-top: 100px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.title span,
.title p {
    display: block;
    text-align: center;
    font-size: 7em;
    line-height: 1em;
}

.title p {
    font-family: "Mikela";
}

.title span {
    font-family: "ITC";
}

.content {
    max-width: 50%;
}

.content p {
    text-align: center;
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    .layout {
        margin-top: 50px;
    }

    .layout img {
        width: 100%;
    }

    .content,
    .title {
        max-width: 90%;
    }

    .title p {
        margin-bottom: 20px;
    }

    .title p,
    .title span {
        font-size: 5em;
    }
}