.layout {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin: 150px 0;
    flex-direction: column;
    position: relative;
    gap: 50px;
}

.title span {
    font-size: 7em;
    font-family: "Mikela";
    line-height: .8em;
}

.title {
    position: relative;
}

.float_version {
    position: absolute !important;
    top: -15%;
    right: 20%;
    transform: rotate(15deg);
}

@media only screen and (max-width: 600px) {

    .title {
        text-align: center;
        max-width: 90vw;
    }

    .float_version {
        top: 5%;
        right: 15%;
    }

    .layout img {
        max-width: 80vw;
    }
}