.layout {
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    display: flex;
    padding: 0 30px;
    margin: auto;
}

.barcode {
    min-height: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 5px;
    position: relative;
    width: 100%;
}

.detail::after {
    content: "TICKET";
    font-family: 'Mikela';
    font-size: 5em;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    right: 20px;
    width: fit-content;
}

.container {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .layout {
        flex-direction: column;
        /* align-items: center;
        justify-content: center;*/
        padding: 0 0px;
    }

    .barcode {
        padding: 15vw;
    }

    .detail {
        font-size: 1.3em;
    }

    .detail b {
        font-size: 1em;
    }

    .detail::after {
        top: -20%;
        bottom: 1;
        left: 20px;
    }
}