.layout {
  margin-top: -135px;
  width: 100vw;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/delq31bnx/image/upload/v1703572567/event_fmfu3t.jpg");
  display: flex;
  color: white;
  position: relative;
}

.banner {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.banner h2 {
  font-family: "Mikela";
  font-size: 7em;
  font-weight: normal;
  line-height: 0.8em;
  transition: .3s;
}

.banner h2 strong {
  font-family: "Mikela";
}

.login_form {
  color: white;
  background-color: #eb0028;
  padding: 50px;
  border-radius: 10px;
  min-width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.login_form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.login_form h2 {
  font-size: 4em;
}

.login_form b {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.password_input {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.password_input {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.password_input input {
  width: 100%;
}

.password_input button {
  padding: 0;
  border-radius: 0;
  padding: 0 10px;
  border: none;
  border-bottom: 2px solid white;
}

.login_button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.login_button button {
  font-size: .9em;
}

@media only screen and (max-width: 600px) {
  .layout {
    margin-top: -160px;
  }

  .banner {
    width: 100vw;
  }
}

@media only screen and (max-width: 900px) {
  .banner {
    justify-content: center;
  }

  .login_form {
    min-width: 90vw;
  }

  .banner_title {
    display: none;
  }

  .login_form h2 {
    font-size: 5em;
  }
}

@media only screen and (max-width: 1200px) {
  .banner_title {
    font-size: 5em !important;
  }

}