.layout {
  margin-top: -135px;
  width: 100vw;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/delq31bnx/image/upload/v1703572567/event_fmfu3t.jpg");
  display: flex;
  color: white;
  position: relative;
}

.banner {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.banner h2 {
  font-family: "Mikela";
  font-size: 7em;
  font-weight: normal;
  line-height: 0.8em;
}

.banner h2 strong {
  font-family: "Mikela";
}

@media only screen and (max-width: 600px) {
  .layout {
    margin-top: -160px;
  }

  .banner {
    width: 100vw;
  }

  .banner h2 {
    font-size: 5em;
  }
}
